<div class="d-flex flex-column flex-sm-row justify-content-end align-items-center gap-2 mt-2" data-controller="share">
  <div class="text-center text-sm-end">
    <small>
      <span id="live-badge-<%= @survey.id %>"
        class="live-badge text-success"
        data-bs-toggle="tooltip"
        title="Last updated just now">
        <span class="dot bg-success"></span> Live
      </span>
    </small>
  </div>
</div>