<div class="container mt-5 ">
  <%= render SurveyHeaderComponent.new(count: @surveys.count) %>
  <% if @surveys.empty? %>
    <%= render EmptyStateComponent.new(
          icon: "bi bi-clipboard-x",
          title: "No surveys yet",
          description: "Create your first yes/no survey to start collecting feedback.",
          button_text: "New Survey",
          button_path: new_survey_path
        ) %>
  <% else %>
    <div data-controller="survey-cards"
     data-survey-cards-refresh-interval-value="10">
      <% @surveys.each_with_index do |survey, i| %>
        <div id="survey-<%= survey.id %>">
          <%= render SurveyCardComponent.new(survey: survey, delay: i * 50) %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>