<turbo-stream target="survey-responses" action="update">
  <template>
    <div id="survey-responses"
     data-controller="animation"
     data-animation-target-id-value="survey-responses-content">
      <%= render ResponsesTableComponent.new(survey: @survey) %>
    </div>
  </template>
</turbo-stream>
<turbo-stream target="survey-breakdown" action="update">
  <template>
    <div id="survey-breakdown-content">
      <%= render ResponseBreakdownComponent.new(
        survey: @survey
      ) %>
    </div>
  </template>
</turbo-stream>